*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg-picture.svg);
  background-repeat: no-repeat;
  background-position: 100% 35%;
  background-attachment: fixed;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

a,
button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

code {
  background: rgba(218, 218, 218, 1);
}

.seo-pagetitle {
  position: absolute;
  clip-path: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.section {
  margin-bottom: 70px;
}

.article {
  max-width: 785px;
}

/* containers */

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.main__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 130px auto 0;

  position: relative;
}

/* fonts */

.section__title,
.navigation__link--side-bar {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 133%;
  text-transform: uppercase;
}

.section__paragraph {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 171%;
}

.title__chapter {
  font-family: "Farro", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  text-transform: none;
  padding-left: 10px;
}

.header__language {
  font-family: "Tourney", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 81%;
}

.navigation__link {
  font-family: "Staatliches", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 125%;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

/* header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 2;
}

.header__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  margin-top: 17px;
  margin-bottom: 17px;
}

.header__container--lang-and-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* logo */

.logo {
  width: 238px;
  height: auto;
}

/* navigation--header */

.navigation__list {
  display: flex;
  gap: 10px;
}

.link,
.navigation__link--side-bar {
  color: rgba(0, 0, 0, 1);
}

/* navigation--side-bar */

.navigation--side-bar {
  max-width: 385px;
  position: sticky;
  top: 100px;
}

.navigation__list--side-bar {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.navigation__item--side-bar {
  border-bottom: 1px solid rgba(189, 189, 189, 1);
}

.navigation__link--side-bar {
  text-decoration: none;
}

/* section__title */

.section__title {
  margin-bottom: 40px;
}

.section__divider {
  padding-bottom: 20px;
}
